# dependencies
node_modules

packages/hardhat/*
packages/nextjs/services
packages/nextjs/hooks
packages/nextjs/config.js
packages/nextjs/forced.config.ts
packages/nextjs/funnyConfig.jsx
packages/nextjs/scaffold.config.ts
packages/nextjs/utils
packages/nextjs/styles
packages/nextjs/mockData
packages/nextjs/api
packages/nextjs/components/ui

# yarn
yarn.lock
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist